# Example of .htaccess, if using Apache
# pls configure the same restrictions if using another webserver

RedirectMatch 403 \/tmp\/.*

<Files "log.txt">
  Require all denied
</Files>
<Files "vars.php">
  Require all denied
</Files>
