@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

* {font-family: 'Roboto Mono', 'monospace'; }

body {
  background: linear-gradient(180deg, #2C5364, #203A43, #0F2027);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}
h1 {font-size: 8vw;}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  font-size: 5vw;
}

#log {
  white-space: break-spaces;
  line-height: 6vw;
  padding-bottom: 20pt;
  font-size: 4vw;
}

.item {background: #00000040;}
.item:nth-child(2n+1) a {background: #f72832;}
.item:nth-child(2n+2) a {background: #5424ff;}

.item a {color: white; font-weight: bold;}

#file_label {
  display: table;
  text-align: center;
  width: 80%;
  height: 15vh;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  background: rgba(0, 0, 0, 0.2);
  border: solid 2vw #5424ff;
  margin-bottom: 6vh;
}

#file_label:hover {
  border: solid 4px #9c24ff;
}

#file_label div {
  display: table-cell;
  vertical-align: middle;
}

#file_input {display: none;}


#footer a {color: white;}

#file_label a {
  background: #ff2424;
  color: white;
}

#file_label a:hover, #file_label .copied {
  background: #9c24ff;
  color: white;
}

.checkbox_label {
  display: block;
  text-align: center;
  margin-bottom: 3vh;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 4vw;

}
.checkbox_label:first-of-type {
  margin-top: 4vh;
}

input[type=checkbox]{
  transform: scale(3) translate(0, -25%);
  margin-right: 20px;
}

.highlight_red {
  background-repeat: no-repeat;
  background-size: 100% 0.8em;
  background-position: 0 100%;
  background-image: linear-gradient(0deg, #ff2424 50%, transparent 0);
}

.highlight_purple {
  background-repeat: no-repeat;
  background-size: 100% 0.8em;
  background-position: 0 100%;
  background-image: linear-gradient(0deg, #5424ff 50%, transparent 0);
}

.clickable {cursor: pointer; text-decoration: underline;}


#footer {
  position: relative;
  left:50%;
  display: inline-block;
  margin-bottom: 10px;
  transform: translate(-50%, 0%);
  font-size: 3vw;
  background: #0F2027;
}
