@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

* {font-family: 'Roboto Mono', 'monospace'; }

body {
  background: linear-gradient(180deg, #2C5364, #203A43, #0F2027);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
}

#log {
  white-space: break-spaces;
  line-height: 20px;
  padding-bottom: 20pt;
}

#file_label {
  display: table;
  text-align: center;
  width: 80%;
  height: 200px;
  margin-left: 10%;
  margin-right: 10%;
  background: rgba(0, 0, 0, 0.2);
  border: solid 4px #5424ff;
}

#file_label:hover {
  border: solid 4px #9c24ff;
}

#file_label div {
  display: table-cell;
  vertical-align: middle;
}

#file_input {display: none;}

a {color: #ff2424;}
#footer a {color: white;}

#file_label a {
  background: #ff2424;
  color: white;
}

#file_label a:hover, #file_label .copied {
  background: #9c24ff;
  color: white;
}

.checkbox_label {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.highlight_red {
  background-repeat: no-repeat;
  background-size: 100% 0.8em;
  background-position: 0 100%;
  background-image: linear-gradient(0deg, #ff2424 50%, transparent 0);
}

.highlight_purple {
  background-repeat: no-repeat;
  background-size: 100% 0.8em;
  background-position: 0 100%;
  background-image: linear-gradient(0deg, #5424ff 50%, transparent 0);
}

.clickable {cursor: pointer; text-decoration: underline;}


#footer {
  position: relative;
  left:50%;
  display: inline-block;
  margin-bottom: 10px;
  transform: translate(-50%, 0%);
  font-size: 9pt;
  background: #0F2027;
}
